.summary {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  padding: 30px;
}

button {
  border: none;
  border-radius: 99999px;
  padding: 20px;
  background-color: #303b59;
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
}

button:hover {
  background: linear-gradient(
    180deg,
    rgba(103, 67, 255, 1) 0%,
    rgba(56, 48, 193, 1) 100%
  );
  color: white;
}
